/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

* {
  margin: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  padding: 0;
  background-color: #ffffff;
}
ul,
li,
a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 30px 10%; */
}
.logo {
  cursor: pointer;
}
nav ul {
  list-style: none;
}
nav li {
  padding: 9px 25px;
  display: inline-block;
}
nav li a {
  transition: all 0.5s ease none;
}
nav li a:hover {
  color: rgb(19, 19, 228);
}
button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: blue;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  transition: all 0.5s ease none;
}
